[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
chromadb = "*"
tiktoken = "*"
streamlit = "*"
pycryptodome = "*"
unstructured = "*"
pandas = "*"
pypdf2 = "*"
flask = "*"
faiss-cpu = "*"
gunicorn = "*"

[requires]
python_version = "3.9"
