[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
chromadb = "*"
tiktoken = "*"
pycryptodome = "*"
unstructured = "*"
pypdf2 = "*"
flask = "*"
faiss-cpu = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
boto3 = "*"
celery = {extras = ["sqs"], version = "*"}
psycopg2 = "*"
redis = "*"

[requires]
python_version = "3.9"
